build --cxxopt="-std=c++20"
build --host_cxxopt="-std=c++20"
build --action_env=BAZEL_CXXOPTS="-std=c++20"

test --nocache_test_results
test --test_output=errors

test --local_test_jobs=auto
test --test_timeout=30

startup --batch
startup --host_jvm_args=-Djdk.tls.client.protocols=TLSv1.2

common --registry=https://raw.githubusercontent.com/bazelbuild/bazel-central-registry/main/
common --registry=https://registry.bazel.build/

build:clangd --cxxopt="-std=c++20"
build:clangd --host_cxxopt="-std=c++20"
build:clangd --compilation_mode=dbg
build:clangd --copt="-g"
build:clangd --cxxopt="-g"
build:clangd --features=debug_prefix_map_pwd_is_dot