bazel-*
!bazel-new_external_sort/external_sort_lib 
.bazelrc
bazel.build_settings.json
MODULE.bazel.lock


*.o
*.a
*.so
*.dylib
*.dll

*.log

.vscode/

.DS_Store


.clangd/
.clangd
.clangd-ignore
.clang-tidy
.clang-format
clang-tidy
clang-format

input.bin
output.bin

external_sort_merged.cpp
merge_external_sort.py
compile_commands.json
